<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.apache.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.seaway.springcloud.demo.dao.ITbSpDomainsDAO">

    <resultMap id="TbSpDomainsResult" type="com.seaway.springcloud.demo.SpDomains">
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="tbSpDomainsColumns">
        <![CDATA[
            DOMAIN_ID as domainId,
            DOMAIN_NAME as domainName,
            DOMAIN_CONTACTS as domainContacts,
            DOMAIN_TEL as domainTel,
            DOMAIN_IPS as domainIps,
            DOMAIN_STS as domainSts,
            CALLBACK_URL as callbackUrl,
            CREATE_TIME as createTime,
            MODIFY_TIME as modifyTime,
            DOMAIN_DESC as domainDesc
        ]]>
    </sql>

    <insert id="insert" parameterType="com.seaway.springcloud.demo.SpDomains">
        <![CDATA[
        INSERT INTO
        TB_SP_DOMAINS (
            DOMAIN_ID ,
            DOMAIN_NAME ,
            DOMAIN_CONTACTS ,
            DOMAIN_TEL ,
            DOMAIN_IPS ,
            DOMAIN_STS ,
            CALLBACK_URL ,
            CREATE_TIME ,
            MODIFY_TIME ,
            DOMAIN_DESC
        ) VALUES (
            #{domainId,jdbcType=DECIMAL} ,
            #{domainName,jdbcType=VARCHAR} ,
            #{domainContacts,jdbcType=VARCHAR} ,
            #{domainTel,jdbcType=VARCHAR} ,
            #{domainIps,jdbcType=VARCHAR} ,
            #{domainSts,jdbcType=DECIMAL} ,
            #{callbackUrl,jdbcType=VARCHAR} ,
            #{createTime,jdbcType=TIMESTAMP} ,
            #{modifyTime,jdbcType=TIMESTAMP} ,
            #{domainDesc,jdbcType=VARCHAR}
        )
    ]]>
    </insert>

    <select id="getById" parameterType="Long" resultMap="TbSpDomainsResult">
        select
        <include refid="tbSpDomainsColumns"/>
        <![CDATA[
            from TB_SP_DOMAINS
            where
            DOMAIN_ID = #{domainId}
        ]]>
    </select>

    <update id="update" parameterType="com.seaway.springcloud.demo.SpDomains">
        <![CDATA[
        UPDATE TB_SP_DOMAINS SET
            DOMAIN_NAME = #{domainName,jdbcType=VARCHAR} ,
            DOMAIN_CONTACTS = #{domainContacts,jdbcType=VARCHAR} ,
            DOMAIN_TEL = #{domainTel,jdbcType=VARCHAR} ,
            DOMAIN_IPS = #{domainIps,jdbcType=VARCHAR} ,
            DOMAIN_STS = #{domainSts,jdbcType=DECIMAL} ,
            CALLBACK_URL = #{callbackUrl,jdbcType=VARCHAR} ,
            CREATE_TIME = #{createTime,jdbcType=TIMESTAMP} ,
            MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP} ,
            DOMAIN_DESC = #{domainDesc,jdbcType=VARCHAR}
        WHERE
            DOMAIN_ID = #{domainId}
    ]]>
    </update>

</mapper>
